*{
    font-family: "Parkinsans", sans-serif;
}
header{
    background-color: #5B2C6F;
}
header a{
    color: #FFFFFF;
}
.nav-item a{
    color: #FFFFFF;
}
#boton-perfil{
    background-color: #C0C0C0;
}
.nav-item a:hover{
    color: #C0C0C0;
}
#app{
    color: #5B2C6F;
}
.boton-cv{
    background-color: #B39CD0;
    color: #1C1C1C;
}
.caja-habilidades{
    background-color: #5B2C6F;
    color: #FFFFFF;
}
.btn-proyecto{
    background-color: #B39CD0;
}
.btn-proyecto a{
    text-decoration: none;
    color: #1C1C1C;
}
.card .card-title{
    color: #5B2C6F;
}
#contacto{
    background-color: #B39CD0;
    color: #1C1C1C;
}
#btn-contacto{
    background-color: #FFFFFF;
    color: #5B2C6F;
}
footer li a i{
    color: #5B2C6F;
}
footer p{
    color: #B39CD0;
}
footer p a{
    text-decoration: none;
    color: #1C1C1C;
}
    